.App {
    display: flex; /* set a flex container */
    flex-direction: column; /* main axis is vertical */
    height: 100vh; /* height of flex is 100% of 'screen' */
    background: #3f5efb; /* set a background color */
    /* set a gradient backgroud */
    background: linear-gradient(180deg, #3f5efb 0%, #5372fb 75%);
    text-align: center; /* aligns texts in center */
    justify-content: center; /* align in the main axis (column) */
    align-items: center;  /* align in the cross axis (row) */

}

.App .card {
    display: flex; /* set a flex container */
    flex-direction: column; /* main axis is vertical */
    background: #fff; /* set a background color */
    min-height: 16rem; /* height of component is 60% of parent height */
    width: 60%; /* width of component is 60% of parent width */
    border-radius: 16px; /* rounding the edges */
    margin: 3rem; /* add maring in all sides*/
    text-align: center; /* aligns texts in center */
    justify-content: center; /* align in the main axis (column) */
    align-items: center;  /* align in the cross axis (row) */
    flex-wrap: wrap;
    
}

/* when screen is smal, change width and height */
@media (max-width: 520px) {
    .App .card {
        width: 90%;
        height: 80%;
    }    
  }
